include README.rst
recursive-include canada_tax/fixtures *
recursive-include canada_tax/bin *
recursive-include canada_tax/locale *.po
recursive-include canada_tax/static *
recursive-include canada_tax/templates *
